.navbar {
    background-color: #480072;
    min-height: 100px;
    width: 100%;
}

.banner {
    display: flex;
}

.banner img {
    width: 100%;
    max-width: 99.2vw;
}

.sobre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 49vh;

}

.sobreText {
    text-align: left;
    font: normal normal bold  Segoe UI;
    letter-spacing: 0px;
    color: #480072;
    opacity: 1;
    width: 30%;
    margin-left: 7.29%;
}
.sobreText h2{
    font-size: 1.7vw;
}
.sobreText p {
    font-size: 1.5vw;

}
.sobreIcone{
    margin-top: 4vh;
    margin-right: 20vw;
    
}
.sobreIcone img{
    height: 45vh;
}
.portfolio {
    min-height: 50vh;
    background-color: #480072;
    display: flex;
}
.emp {
    width: 42.70vw;
    height: 56.15vh;
    background-color: tomato;
    min-width: 350px;
}

.empGroup{
    display: flex;
    flex-wrap: wrap;
    margin-left: 7.29vw;
    margin-top: 6.74vh;
}